<div class="container">

<div class="cont" fxLayout="column wrap"  style="float: right;">
  <div fxFlex="0%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.lg="100%"> 
<div class="d-flex justify-content-end">
  <div class="p-2" >
    <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
</div>
</div>
  <div fxFlex="0%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.lg="100%" style="margin-right: 10px;">
    <mat-form-field>      
    <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="search">
  </mat-form-field>
</div>
<div class="btn2" fxFlex="0%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.lg="100%">
  <button mat-raised-button style="float:right; margin-top:2vh;" (click)="showUploadCSV()"  color="warn" *ngIf="isTH">
    <mat-icon>file_upload</mat-icon>
     Upload        
  </button>
</div>
<div class="btn2" fxFlex="0%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.lg="100%">
  <button mat-raised-button  (click)="showAddLearner()" *ngIf="isTH" style="float:right ; margin: 2vh; background-color: #24A0ED; color: white; " >
    <mat-icon>person_add</mat-icon>
Add Learner        
</button>
</div>
</div>
</div>


  <table mat-table [dataSource]="learners" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
    </ng-container>
  
    <ng-container matColumnDef="learnerid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Learner ID </th>
      <td mat-cell *matCellDef="let element"> {{element.learnerid}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="course">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Course </th>
      <td mat-cell *matCellDef="let element"> {{element.course}} </td>
    </ng-container>

    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
      <td mat-cell *matCellDef="let element"> {{element.project}} </td>
    </ng-container>

    <ng-container matColumnDef="batch" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch </th>
        <td mat-cell *matCellDef="let element"> {{element.batch}} </td>
    </ng-container>

    <ng-container matColumnDef="placementstatus" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.placementstatus}} </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="updateData(element._id)">
            <mat-icon class="mat-18">reorder</mat-icon>
        </button>        
      </td>
    </ng-container>
    <ng-container matColumnDef="delete" >
        <th mat-header-cell *matHeaderCellDef > Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" *ngIf="isTH" (click)="deleteData(element._id)">
              <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
    </ng-container>   

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    
  </table>

  <mat-paginator  [pageSizeOptions]="[6, 10, 25, 50, 100]">
  </mat-paginator>
</div>
  
