<h2 mat-dialog-title>{{titlemode}}
    <button mat-icon-button (click)="close()" style="float:right ; " >
        <mat-icon>close</mat-icon>         
    </button>
    </h2>
    <mat-divider></mat-divider>
    

  <mat-dialog-content [formGroup]="newMemberForm">
    <div class="member-container mt-3">
            <input type="hidden" formControlName="_id">
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Role" formControlName="role">
                    <mat-option value="Admin">Admin</mat-option>
                    <mat-option value="Training Head">Training Head</mat-option> 
                    <mat-option value="Placement Officer">Placement Officer</mat-option>     
                </mat-select>
            </mat-form-field>    
    </div>
</mat-dialog-content>

<mat-dialog-actions>
   <button class="mat-raised-button" (click)="saveForm()" [disabled]="!newMemberForm.valid">SAVE</button>
</mat-dialog-actions>
