/* .full-width{
    width: 100%;
}

.top-padding{
    padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
}

.form-container{
    margin: 100px;
} */

.member-container {
    display: flex;
    flex-direction: column;
  }
  
  .member-container > * {
    width: 100%;
  }

  .mat-raised-button {
    background-color: #24A0ED;
    color: white;
    width: 100%;
  }
