.main-wrapper {
    margin-left: 10px;
    margin-top: 20vh;
  }


mat-toolbar {
    justify-content: space-between;
}

.content-dash {
    padding: 36px;
    
}

.content-dash mat-card {
    margin-bottom: 16px;
}

mat-card-content{
    font-size: 16px;
}

mat-card-title{
    font-size: 40px;
}


.content-chart mat-card {
    margin-bottom: 16px;
}

.courseContainer{
    margin-top: 70px;
    width: 33rem;  
}
.pieContainer{
    margin-top:70px;
    width: 33rem;  
}

 
