*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Courier", monospace;
}

header{
	text-align: justify;
  text-justify: inter-word;
  	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
}
img{
	max-width: 150px;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}
header h4{
	position: absolute;
	left: 10%;
	bottom: 1rem;
	font-size: 1.6rem;
}

/* Splash Screen */

.intro{
	position: fixed;
	z-index: 1;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100vh;
	background-color: #2B2D42;
	transition: 1s;
}

.logo-header{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #D9DCD6;
}

.logo{
	position: relative;
	display: inline-block;
	left: -20px;
	opacity: 0;
}

.loginClick,.desc{
	position: relative;
	display: inline-block;
	opacity: 0;
	cursor: pointer;
}


.logo.active{
	left: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}
.loginClick.active,.desc.active{
	opacity: 1;
	transition: ease-in-out 0.5s;
}
.logo.fade{
	left: 0;
	opacity: 0;
	transition: ease-in-out 0.5s;
}



/* Login Form */
.gradient-custom {
	background: #D9DCD6
	}
.card{
	background-color: #2B2D42;
	color: #D9DCD6;
}

button{
    background-color: #D9DCD6;
	color: #2B2D42;
    font-weight: bolder;
}
button:hover{
    background-color: #BC4E6B;
    color: #D9DCD6;
}
small{
color: #BC4E6B;
}

